body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  

}

.navbar ul{
    list-style-type: none;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    width: 2000px;

    
}
.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    position: sticky;

}
.navbar li{
    float: left;
    position:sticky;
    border-left: #ffffff;
} 
.nav:hover{
    color: var(blue);
    
}

.border-container {
    width: 150%; /* Adjust as needed */
    border: 5px solid #333;
    padding: 20px;
    overflow:hidden;
    position: relative; /* For positioning the moving text */
    background-color:rgb(80, 80, 233);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    
}
.moving-text{
    white-space: nowrap; /* Prevent text from wrapping */
    position: absolute;
    bottom:0cm;
    animation: moveText 30s linear infinite;
    color: white;
    gap: calc(10);
    
}
@keyframes moveText {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%); /* Move off-screen to the left */
    }
}   

.hero{
  background-image: url("./Header\ section.png");
  background-position: auto;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  height: 500px;
  width: 2000px;
  color: white;
  float: left;
  font-size: xx-large;
  font-weight: 70px;
  padding: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 100%;

}

.h1{
    position:absolute;
    font-size: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

}
.btn{
   background-color: rgb(184, 225, 212);
   color: #000000;
   padding: 10px 10px;
   font-size: 15px;
   cursor: pointer;
   text-decoration: none;
 a{
    color: #ffffff;
    text-decoration: none;
 }
}

.btn:hover{
     background-color: rgb(245, 47, 245);
}

.vision{
    background-image: url(./Title\ container.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 600px;
    font-size: xx-large;
    color: #ffffff;
}
.who-we-are{
    font-size: large;
    padding-left: 50px;
}

.who-we-are-btn{
    background-color: hsl(247, 80%, 47%); /* Blue background */
    color:#ffffff; /* White text */
    padding: 10px 20px; /* Padding around the text */
    font-size: 16px;
    cursor: pointer; /* Changes the mouse cursor to a hand on hover */
    position: left;
    a{
        color: #ffffff;
        text-decoration: none;
    
    }
}
.who-we-are-btn:hover{
    background-color: #0056b3;
}

.Class{
    background-image: url(/class\ image.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 600px;
    font-size: xx-large;
    
}
.our-classes{
    font-size: large;
    padding-left: 50px;
}

.our-class-btn{
    background-color: hsl(247, 80%, 47%); /* Blue background */
    color:#ffffff; /* White text */
    padding: 10px 20px; /* Padding around the text */
    font-size: 16px;
    cursor: pointer; /* Changes the mouse cursor to a hand on hover */
    position: left;
    a{
        color: #ffffff;
        text-decoration: none;
    
    }
}

.our-class-btn:hover{
    background-color: #0056b3;
}
.founder-1 img{
    height:250px;
    width:700px;
}
.founder-1{
    background-color:rgb(239, 49, 239);
    font-size: larger;


}


.founder-2 img{
    height:250px;
    width:700px;
}
.founder-2{
    background-color: rgb(157, 236, 210);
    font-size: larger;

}

.blue-text{
    background-color: rgb(51, 113, 236);
    color: #ffffff;
    font-size: xx-large;
    font-weight: 500;
    padding: 150px;
}

.blue-text-btn{
   background-color: rgb(184, 225, 212);
   color: #000000;
   padding: 10px 10px;
   font-size: 15px;
   cursor: pointer;
   text-decoration: none;
 a{
    color: #ffffff;
    text-decoration: none;
 }
}
.blue-text-btn:hover{
     background-color: rgb(245, 47, 245);
}

.mov-stu{
    background-color: rgb(184, 225, 212);
    font-size: xx-large;
    text-align: left;
    padding: 5px;
    font-weight: 900;
}

.Email{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    font-size: small;
    
    
}

.footer-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.socials{
   background-color: blue;
   font-size: larger;
   height: 200px;
   a{
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      padding: 40px;  
   }
}
.email{
   background-color: #000000;
   font-size: larger;
   a{
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      padding: 40px;   
   }
   
}
.booking{
    background-color:rgb(245, 47, 245);
    font-size: larger;
    a{
        color: #000000;
        text-decoration: none;
        font-weight: 300;
        padding: 40px; 
    }
}
/* styling the class section*/
.class-section{
  background-image: url("./class\ photo.png");
  background-position: auto;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  height: 500px;
  width: 2000px;
  color: white;
  float: left;
  font-size: xx-large;
  font-weight: 70px;
  padding: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 100%;
}
.booking-ex{
    background-color: #000000;
    color: #ffffff;
    padding: 30px;

}

.grid-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto*6;
}

.c1-image{
    background-image: url(./class\ img.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 600px;
    font-size: xx-large;
    color: #ffffff;
    padding: 30px;
}

.c2-image{
    background-image:url(./class\ img\ img.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 600px;
    font-size: xx-large;
    color: #ffffff;
    padding: 30px;
}

.hip-hop {
    border-top: #000000 0.5px solid;
    border-right: #000000 0.5px solid;
    border-bottom: #000000 0.5px solid;
}

.hip-hop-text{
    font-size: small;
    padding-left: 10px;
}

.hop-freestyle{
    border-top: #000000 0.5px solid;
    border-right: #000000 0.5px solid;
    border-bottom: #000000 0.5px solid;
}
.hop-freestyle-text{
    font-size: small;
    padding-left: 10px;
}
.tuesday{
  display: flex;
   color: navy;
   border: #000000 0.5px solid;
   justify-content: space-between;
  a{
    margin-left: auto;
    padding: 10px;
    color: #000000;
    text-decoration: none;
     border-left: #000000 0.5px solid;
  }
  a:hover{
    color: blue;
  }
}


.Tuesday{
    display: flex;
   color: navy;
   border: #000000 0.5px solid;
   justify-content: space-between;
  a{
    margin-left: auto;
    padding: 10px;
    color: #000000;
    text-decoration: none;
     border-left: #000000 0.5px solid;
  }
  a:hover{
    color: blue;
  }
}

.c4-image{
    background-image: url(./class\ photo.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 600px;
    font-size: xx-large;
    color: #ffffff;
    padding: 30px;
}

.c5-image{
    background-image: url(./Title\ container.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 600px;
    font-size: xx-large;
    color: #ffffff;
    padding: 30px;
}
.jazz-tech{
    border-top: #000000 0.5px solid;
    border-right: #000000 0.5px solid;
    border-bottom: #000000 0.5px solid;
}

.jazz-funk{
    border-top: #000000 0.5px solid;
    border-right: #000000 0.5px solid;
    border-bottom: #000000 0.5px solid;

}

.wednesday{
    display: flex;
   color: navy;
   border: #000000 0.5px solid;
   justify-content: space-between;
  a{
    margin-left: auto;
    padding: 10px;
    color: #000000;
    text-decoration: none;
     border-left: #000000 0.5px solid;
  }
  a:hover{
    color: blue;
  }
}

.book{
    border-left: #000000 0.5px solid;
}


.thursday{
   display: flex;
   color: navy;
   border: #000000 0.5px solid;
   justify-content: space-between;
  a{
    margin-left: auto;
    padding: 5px;
    color: #000000;
    text-decoration: none;
     border-left: #000000 0.5px solid;
  }
  a:hover{
    color: blue;
  }
}

.b2-image{
    background-image: url(./class\ jazz\ img.png);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 1500px;
    font-size: xx-large;
    color: #ffffff;
    padding: 50px;
}

.contact-imp{
   background-color: #ffffff;
   color: #000000;
   font-size: larger; 
   border: #000000 0.5px solid;
}
.info{
    font-size: small;

}
.friday{
    color: blue;
}
.our-promise{
    background-color: #000000;
    color: white;
    height: 90px;
    padding: 10px;
}

.blue-section{
    background-color: blue;
    color: #ffffff;
    padding: 30px;
    height: 200px;
    font-size: xx-large;
}

.image{
    background-image: url(./class\ dance\ image.png);
    background-position: auto;
    background-size: cover;
    height: 300px;
    width: 1500px;
    padding: 30px;
}

/* styling the about_us section*/
.about-us{
    background-image: url(./about\ image.png);
    background-position: auto;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    height: 500px;
    width: 2000px;
    color: white;
    float: left;
    font-size: xx-large;
    font-weight: 70px;
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 100%;
}









