*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    overflow-x: hidden;
}

.hero{
  background-image: url("./Header\ section.png");
  background-position: auto;
  background-attachment: fixed;
  background-size: cover;
  height: 800px;
  width: 2000px;
  color: white;
  float: left;
  font-size: larger;
  font-weight: 50px;
}
.h1{
    font-size:xx-large;
    font-weight:5000px;
    text-align: center;
    text-align: left;

}
.h11{
    font-size:xx-large;
    font-weight: 1000px;
    text-align: center;
    text-align: left;
}



.nav-links{
    display: flex;
    gap: 20px;
    justify-content: left;
    justify-items:left;
    list-style: none;
    float: left;
    color: #ffffff;

}

.nav-items{
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: x-large;
    float:left

    
}
.nav-items:hover{
    color: var(blue);
    transition: all  0.5s ease-in-out;
    scale: 1.1;

}

.border-container {
    width: 150%; /* Adjust as needed */
    border: 5px solid #333;
    padding: 20px;
    overflow: hidden; /* Hide text outside the border */
    position: relative; /* For positioning the moving text */
    background-color:rgb(80, 80, 233);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.moving-text{
    white-space: nowrap; /* Prevent text from wrapping */
    position: absolute;
    bottom:0cm;
    animation: moveText 30s linear infinite;
    color: white;
    gap: calc(10);
}
@keyframes moveText {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%); /* Move off-screen to the left */
    }
}

.dance image img{
    display: grid;
    grid-template-columns: 200px 1fr;
    width: 100px;
    height: 300px;
    direction: rtl;

}


.main-section{
     display: grid;
    grid-template-columns: 1fr 1fr;
    direction: ltr;
    padding: 15px;
    background-color:white;
    color: black;
    height: auto;

}

.vision{
    background-image: url(./Title\ container.png);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    height: 100%;
    width: 100%;
    font-size: xx-large;
    
    
}

.who-we-are {
    justify-content: center;
    padding: 30%;
    font-size:large;
    font-weight: 200;
    text-align: center;
}
head{
    background-color: #000000;
    height: 5%;
    color: #ffffff;
}

.my-button {
    background-color: hsl(247, 80%, 47%); /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding around the text */
    font-size: 16px;
    cursor: pointer; /* Changes the mouse cursor to a hand on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.my-button:hover {
    background-color: #0056b3;
}