body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  

}

.navbar ul{
    list-style-type: none;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    width: 2000px;

    
}
.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    position: sticky;

    
}
.navbar li{
    float: left;
    position:sticky;
    border-left: #ffffff;
} 
.navbar:hover{
    color: var(blue);
    
}

.border-container {
    width: 150%; /* Adjust as needed */
    border: 5px solid #333;
    padding: 20px;
    overflow:hidden;
    position: relative; /* For positioning the moving text */
    background-color:rgb(80, 80, 233);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    
}
.moving-text{
    white-space: nowrap; /* Prevent text from wrapping */
    position: absolute;
    bottom:0cm;
    animation: moveText 30s linear infinite;
    color: white;
    gap: calc(10);
    
}
@keyframes moveText {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%); /* Move off-screen to the left */
    }
}   

.hero{
  background-image: url("./Header\ section.png");
  background-position: auto;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  height: 500px;
  width: 2000px;
  color: white;
  float: left;
  font-size: xx-large;
  font-weight: 70px;
  padding: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 100%;

}

.h1{
    position:absolute;
    font-size: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

}
.btn{
   background-color: rgb(184, 225, 212);
   color: #000000;
   padding: 10px 10px;
   font-size: 15px;
   cursor: pointer;
   text-decoration: none;
 a{
    color: #ffffff;
    text-decoration: none;
 }
}

.btn:hover{
     background-color: rgb(245, 47, 245);
}

.vision{
    background-image: url(./Title\ container.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 600px;
    font-size: xx-large;
    color: #ffffff;
}
.who-we-are{
    font-size: large;
}

.who-we-are-btn{
    background-color: hsl(247, 80%, 47%); /* Blue background */
    color:#ffffff; /* White text */
    padding: 10px 20px; /* Padding around the text */
    font-size: 16px;
    cursor: pointer; /* Changes the mouse cursor to a hand on hover */
    position: left;
    a{
        color: #ffffff;
        text-decoration: none;
    
    }
}
.who-we-are-btn:hover{
    background-color: #0056b3;
}

.Class{
    background-image: url(/class\ image.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 600px;
    font-size: xx-large;
    
}
.our-classes{
    font-size: large;
}

.our-class-btn{
    background-color: hsl(247, 80%, 47%); /* Blue background */
    color:#ffffff; /* White text */
    padding: 10px 20px; /* Padding around the text */
    font-size: 16px;
    cursor: pointer; /* Changes the mouse cursor to a hand on hover */
    position: left;
    a{
        color: #ffffff;
        text-decoration: none;
    
    }
}

.our-class-btn:hover{
    background-color: #0056b3;
}

.founder-1 img{
    height: 400px;
    width: 700px;
}
.founder-1{
    background-color: rgb(234, 17, 234);
    font-size: larger;
}

.founder-2 img{
    height:400px;
    width:700px;
}
.founder-2{
    background-color: rgb(157, 236, 210);
    font-size: larger;
}


